
:root {
  --main-text-colour: #595959;
}

#deploys-body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  color: var(--main-text-colour);
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#deploys {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

#deploys h1 {
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: 200;
  border-bottom: 4px double #ededed;
}

#deploys .invisible {
  display: none;
}

#deploys a {
  text-decoration: none;
  color: var(--main-text-colour)
}
#deploys a:visited {
  color: var(--main-text-colour)
}

#deploys .list {
  margin: 2rem;
}

#deploys table {
  border-spacing: 0;
  width: 100%;
}

#deploys th {
  font-weight: normal;
  font-size: 1.3rem;
/*   font-weight: 200; */
  text-align: center;
}

/* Project name column header */
#deploys th:nth-child(1) {
  text-align: left;
}
/* Project names */
#deploys td:nth-child(1) {
  text-align: left;
  font-weight: bold;
}

#deploys th, td {
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
}

#deploys .build {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#deploys .build-status {
  margin-right: 0.5rem;
}

#deploys .build-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#deploys .status-icon {
  display: inline-block;
  font-size: 2.5rem;
  color: #1c66bf; /* status unknown = blue */
}
#deploys .status-SUCCESS { color: #40b55f; }
#deploys .status-RUNNING { color: #40b55f; }
#deploys .status-FAILURE { color: #f26c5c; }

#deploys .status-latest {
  opacity: 1.0;
}
#deploys .status-older {
  opacity: 0.3;
}

#deploys .build-version {
  font-weight: bold;
  font-size: 1rem;
}

#deploys .build-time {
  font-size: 0.7rem;
}


/* Search box. Source: https://shipow.github.io/searchbox */

#deploys .search {
  display: flex;
  justify-content: center;
}

#deploys .search-form {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 40px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 16px;
}

#deploys .search-input {
  display: inline-block;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 19px;
  box-shadow: inset 0 0 0 1px #D9D9D9;
  padding-right: 33px;
  padding-left: 41px;
  width: 100%;
  height: 100%;
  font-size: inherit;
}

#deploys .search-input:hover {
  box-shadow: inset 0 0 0 1px silver;
}

#deploys .search-input:focus, .search-input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px #AAAAAA;
  background: #FFFFFF;
}

#deploys .search-input::placeholder {
  color: #AAAAAA;
}

#deploys .search-submit {
  position: absolute;
  left: 14px;
  margin: 0;
  border: 0;
  border-radius: 18px 0 0 18px;
  background-color: rgba(255, 255, 255, 0);
  width: 41px;
  height: 100%;
  user-select: none;
}

#deploys .search-submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

#deploys .search-submit svg {
  width: 19px;
  height: 19px;
  vertical-align: middle;
  fill: #666666;
}

#deploys .search-reset {
  display: none;
  position: absolute;
  top: 9px;
  right: 9px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

#deploys .search-reset svg {
  display: block;
  margin: 4px;
  width: 15px;
  height: 15px;
}

#deploys .search-input:valid ~ .search-reset {
  display: block;
}


/* Ensure Chrome and IE doesn't add their own textbox crosses */
#deploys input[type=text]::-ms-clear { display: none; width : 0; height: 0; }
#deploys input[type=text]::-ms-reveal { display: none; width : 0; height: 0; }
#deploys input[type="search"]::-webkit-search-decoration,
#deploys input[type="search"]::-webkit-search-cancel-button,
#deploys input[type="search"]::-webkit-search-results-button,
#deploys input[type="search"]::-webkit-search-results-decoration { display: none; }
