
:root {
  --main-text-colour: #595959;
}

#deploys-body {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  color: var(--main-text-colour);
  margin: 0;
  padding: 0;
  font-weight: normal;
}

#deploys {
  max-width: 950px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

#deploys h1 {
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: 200;
  border-bottom: 4px double #ededed;
}

#deploys .invisible {
  display: none;
}

#deploys a {
  text-decoration: none;
  color: var(--main-text-colour)
}
#deploys a:visited {
  color: var(--main-text-colour)
}

#deploys .list {
  margin: 2rem;
}

#deploys table {
  border-spacing: 0;
  width: 100%;
}

#deploys th {
  font-weight: normal;
  font-size: 1.3rem;
/*   font-weight: 200; */
  text-align: center;
}

/* Project name column header */
#deploys th:nth-child(1) {
  text-align: left;
}
/* Project names */
#deploys td:nth-child(1) {
  text-align: left;
  font-weight: bold;
}

#deploys th, td {
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid lightgrey;
}

#deploys .build {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#deploys .build-status {
  margin-right: 0.5rem;
}

#deploys .build-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#deploys .status-icon {
  display: inline-block;
  font-size: 2.5rem;
  color: #1c66bf; /* status unknown = blue */
}
#deploys .status-SUCCESS { color: #40b55f; }
#deploys .status-RUNNING { color: #40b55f; }
#deploys .status-FAILURE { color: #f26c5c; }

#deploys .status-latest {
  opacity: 1.0;
}
#deploys .status-older {
  opacity: 0.3;
}

#deploys .build-version {
  font-weight: bold;
  font-size: 1rem;
}

#deploys .build-time {
  font-size: 0.7rem;
}
