
:root {
  --main-text-colour: #595959;
  --environment-count: 0; /* Dynamic - set by App.js */
}

#deploys {
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: normal;
  color: var(--main-text-colour);
  margin: 1rem auto;
  margin-top: 2rem;

  /* Consistency with TeamCity styling (useful when run outside TC) */
  line-height: 1.5em;
  font-size: 0.8rem;
}

#deploys h1 {
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-size: 3rem;
  font-weight: 200;
  border-bottom: 4px double #ededed;
}

#deploys .invisible {
  display: none;
}

#deploys a {
  text-decoration: none;
  color: var(--main-text-colour);
  cursor: pointer;
}
#deploys a:visited {
  color: var(--main-text-colour);
}

#deploys .list {
  /* Center child table */
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 1rem 1rem;
}

#deploys table {
  display: grid;
  /* Project name + spacer column + number of environments set in App.js */
  grid-template-columns: minmax(6rem, auto) minmax(0.5rem, 4rem) repeat(var(--environment-count), minmax(8rem, 13rem));
}

/* Do not include these table elements as part of grid layout */
#deploys thead, #deploys tbody, #deploys tr {
  display: contents;
}

#deploys th {
  font-weight: normal;
  font-size: 1.3rem;
  text-align: left;
  /* Wrap title at any character rather than under-flowing into next */
  word-break: break-word;

  /* Make the header sticky to the top when scrolling */
  position: sticky;
  top: 0;
  /* Position header above table content and making sure it doesn't show through */
  z-index: 100;
  background-color: white;
}

/* Project names */
#deploys td:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;

  font-weight: bold;
  padding-left: 1rem;
}

#deploys th, #deploys td {
  justify-content: space-between;
  padding: 1rem 0;
  border-bottom: 1px solid lightgrey;
}
